@page
@model MealPlanner.Pages.MealPlan.DetailsModel

@{
    ViewData["Title"] = "Plan Details";
}

  <h2>@Html.DisplayFor(model => model.Plan.Name)</h2>


<div>
    <a asp-page="./Edit" asp-route-id="@Model.Plan.ID">Edit</a> |
    <a asp-page="/Entries/Create" asp-route-planid="@Model.Plan.ID">New entry</a>
</div>

<h3>Entries</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor( model => model.PlanEntries.FirstOrDefault().Date )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.PlanEntries ) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Meal.Name)
        </td>
        <td>
          <!--
  <a asp-page="/Entries/Edit" asp-route-id="@item.ID">Edit</a> |
  <a asp-page="/Entries/Details" asp-route-id="@item.ID">Details</a> |
    -->
          <a asp-page="/Entries/Delete" asp-route-id="@item.ID" asp-route-planid="@Model.Plan.ID">Delete</a>
        </td>
      </tr>
        }
    </tbody>
</table>

