@page
@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model MealPlanner.Pages.MealPlan.DetailsModel

@{
  ViewData["Title"] = "Plan Details";
}

<h2>@Html.DisplayFor( model => model.Plan.Name )</h2>


<div>
  <a asp-page="./Edit" asp-route-id="@Model.Plan.ID">Edit</a> |
  <a asp-page="/Entries/Create" asp-route-planid="@Model.Plan.ID">New entry</a>
</div>

<h3>Entries</h3>

<table class="table">
  <tbody>
  @foreach ( var group in Model.EntriesGroupedByDate ) {
    foreach (var entry in group ) {
      <tr>
        <td  class="myclass">
          @if ( entry == group.FirstOrDefault() ) {
            @Html.DisplayFor( modelItem => entry.Date.DayOfWeek )
            <text> </text> // add space
            @Html.DisplayFor( modelItem => entry.Date )
          }
        </td>
        <td>
          @Html.DisplayFor( modelItem => entry.Meal.Name )
        </td>
        <td>
          <!--
          <a asp-page="/Entries/Edit" asp-route-id="@entry.ID">Edit</a> |
          <a asp-page="/Entries/Details" asp-route-id="@entry.ID">Details</a> |
          -->
          <a asp-page="/Entries/Delete" asp-route-id="@entry.ID" asp-route-planid="@Model.Plan.ID">Delete</a>
        </td>
      </tr>      
    }
  }
  </tbody>
</table>
